.button {
  background-color: darkslategray;
  color: white;
  padding: 12px 24px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  min-width: 120px;
  border-radius: 48px;
  font-size: 1rem;
}
