html,
body {
  padding: 2rem;
  max-width: 90vw;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, ul {
  padding-bottom: 1rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

