html,
body {
  padding: 2rem;
  max-width: 90vw;
}

body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    segoe ui,
    helvetica neue,
    Cantarell,
    Ubuntu,
    roboto,
    noto,
    helvetica,
    arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:;
  font-size: 20px;
}

fieldset {
  border: none;
}

h1 {
  padding: 1rem 0;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 2rem;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  padding: 1rem 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
