.fieldset {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 50%;
  border: none;
}

.legend {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.label {
  padding-left: 0.5rem;
}

.button {
  cursor: pointer;
  font-size: 16px;
  padding: 4px;
  max-width: 50%;
}

.button:disabled {
  cursor: not-allowed;
}

input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
