.searchWrapper {
  display: flex;
  justify-content: space-between;
  max-width: 958px;
}

.inputLabel {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.input {
  border: none;
  width: 100%;
  height: 46px;
  border-left: 1px gray solid;
  border-right: none;
  border-bottom: 1px gray solid;
  border-top: 1px gray solid;
  border-radius: 48px 0px 0px 48px;
  padding-left: 1rem;
}

.button {
  background: none;
  border-left: none;
  border-right: 1px gray solid;
  border-top: 1px gray solid;
  border-bottom: 1px gray solid;
  border-radius: 0px 48px 48px 0px;
  padding-right: 16px;
}
